In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Korbit/[과제2] 2019-09 체결데이터_sample.csv')
df

   action tx_type  user_id currency             trade_timestamp
0   trade    sell   260968      etc  2019-09-25 08:58:22.611000
1   trade    sell   260968      btc  2019-09-25 08:26:49.486000
2   trade    sell   260968      btc  2019-09-25 08:26:51.466000
3   trade    sell   260968     usdc  2019-09-25 10:08:02.421000
4   trade    sell   260968      xrp  2019-09-25 10:09:22.101000
5   trade     buy   314913      mkr  2019-09-10 05:45:07.369000
6   trade     buy   314913      eth  2019-09-10 05:47:06.719000
7   trade    sell   314913      xrp  2019-09-12 22:50:10.008000
8   trade     buy   314913    aergo  2019-09-12 23:00:01.521000
9   trade     buy   314913    aergo  2019-09-12 23:00:22.020000
10  trade     buy   498695      btc  2019-09-22 13:24:22.662000
11  trade     buy   498695      btc  2019-09-22 13:24:22.888000
12  trade     buy   498695      btc  2019-09-22 13:24:23.190000
13  trade     buy   498695      zil  2019-09-23 11:41:05.159000
14  trade     buy   498695      btc  2019-09-24 02:04:49.645000
15  trade     buy   498695      eth  2019-09-24 11:39:11.377000
16  trade     buy   498695      xrp  2019-09-24 11:53:19.100000

In [ ]:
import sqlite3

In [ ]:
con = sqlite3.connect('/content/drive/My Drive/Korbit/trade.db')
type(con)
sqlite3.Connection

sqlite3.Connection

In [ ]:
cursor = con.cursor()

cursor.execute("CREATE TABLE trade(action text, tx_type text, user_id int, currency text, trad_timestamp int)")

In [ ]:
df.to_sql('trade', con)

In [ ]:
from pandas import Series, DataFrame

In [ ]:
df2 = pd.read_sql("SELECT * FROM trade", con, index_col=None)
df2 #sqlite로 연동 성공(db파일로 저장)

    index action tx_type  user_id currency             trade_timestamp
0       0  trade    sell   260968      etc  2019-09-25 08:58:22.611000
1       1  trade    sell   260968      btc  2019-09-25 08:26:49.486000
2       2  trade    sell   260968      btc  2019-09-25 08:26:51.466000
3       3  trade    sell   260968     usdc  2019-09-25 10:08:02.421000
4       4  trade    sell   260968      xrp  2019-09-25 10:09:22.101000
5       5  trade     buy   314913      mkr  2019-09-10 05:45:07.369000
6       6  trade     buy   314913      eth  2019-09-10 05:47:06.719000
7       7  trade    sell   314913      xrp  2019-09-12 22:50:10.008000
8       8  trade     buy   314913    aergo  2019-09-12 23:00:01.521000
9       9  trade     buy   314913    aergo  2019-09-12 23:00:22.020000
10     10  trade     buy   498695      btc  2019-09-22 13:24:22.662000
11     11  trade     buy   498695      btc  2019-09-22 13:24:22.888000
12     12  trade     buy   498695      btc  2019-09-22 13:24:23.190000
13     13  trade     buy   498695      zil  2019-09-23 11:41:05.159000
14     14  trade     buy   498695      btc  2019-09-24 02:04:49.645000
15     15  trade     buy   498695      eth  2019-09-24 11:39:11.377000
16     16  trade     buy   498695      xrp  2019-09-24 11:53:19.100000

In [ ]:
df3 = pd.read_sql("SELECT * FROM trade ORDER BY trade_timestamp DESC", con, index_col=None)

In [ ]:
df3 # trade_timestamp 별로 내림차순

    index action tx_type  user_id currency             trade_timestamp
0       4  trade    sell   260968      xrp  2019-09-25 10:09:22.101000
1       3  trade    sell   260968     usdc  2019-09-25 10:08:02.421000
2       0  trade    sell   260968      etc  2019-09-25 08:58:22.611000
3       2  trade    sell   260968      btc  2019-09-25 08:26:51.466000
4       1  trade    sell   260968      btc  2019-09-25 08:26:49.486000
5      16  trade     buy   498695      xrp  2019-09-24 11:53:19.100000
6      15  trade     buy   498695      eth  2019-09-24 11:39:11.377000
7      14  trade     buy   498695      btc  2019-09-24 02:04:49.645000
8      13  trade     buy   498695      zil  2019-09-23 11:41:05.159000
9      12  trade     buy   498695      btc  2019-09-22 13:24:23.190000
10     11  trade     buy   498695      btc  2019-09-22 13:24:22.888000
11     10  trade     buy   498695      btc  2019-09-22 13:24:22.662000
12      9  trade     buy   314913    aergo  2019-09-12 23:00:22.020000
13      8  trade     buy   314913    aergo  2019-09-12 23:00:01.521000
14      7  trade    sell   314913      xrp  2019-09-12 22:50:10.008000
15      6  trade     buy   314913      eth  2019-09-10 05:47:06.719000
16      5  trade     buy   314913      mkr  2019-09-10 05:45:07.369000

In [ ]:
df4 = pd.read_sql("SELECT * FROM trade ORDER BY trade_timestamp DESC LIMIT 3", con, index_col=None)

In [ ]:
df4 # 최근 3개 데이터

   index action tx_type  user_id currency             trade_timestamp
0      4  trade    sell   260968      xrp  2019-09-25 10:09:22.101000
1      3  trade    sell   260968     usdc  2019-09-25 10:08:02.421000
2      0  trade    sell   260968      etc  2019-09-25 08:58:22.611000

In [ ]:
SELECT * FROM trade

WHERE (user_id, time) in (

    select user_id, max(time) FROM trade GROUP BY user_id

)

ORDER BY time DESC

In [ ]:
df5 = pd.read_sql("SELECT * FROM trade WHERE (user_id, trade_timestamp) in (SELECT user_id, MAX(trade_timestamp) FROM trade GROUP BY user_id) ORDER BY trade_timestamp DESC", con, index_col=None)

In [ ]:
df5 # 정답

   index action tx_type  user_id currency             trade_timestamp
0      4  trade    sell   260968      xrp  2019-09-25 10:09:22.101000
1     16  trade     buy   498695      xrp  2019-09-24 11:53:19.100000
2      9  trade     buy   314913    aergo  2019-09-12 23:00:22.020000